include ../mixin/switchSeasons

nav.navbar.fixed-bottom.navbar-light(style="background-color: #e3f2fd;")
    .container
        span.navbar-text.mr-auto
            strong Neriman Haşim Emirli Anaokulu - Çiğli, İzmir
        span.navbar-textnavbar-nav.my-2.my-lg-0.mr-3
            strong Öğrenci Sayısı : 
            span.badge.badge-success 512
        span.navbar-textnavbar-nav.my-2.my-lg-0.mr-3
            strong Eylül Ayı Aidat Verenler : 
            span.badge.badge-success 400
        +listSeason()