nav.navbar.navbar-expand-lg.navbar-dark(style='background-color: #142c44')
    .container
        .navbar-brand(style="cursor:default;") Aidat Takip Sistemi
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a(href='/').nav-link Sınıflar
                li.nav-item
                    a(href='/aidatlar').nav-link Öğrenci Kontrol Et