<!doctype html>
html(lang='en')

    include ../mainIncludes/header

    body
    
        include ../mainIncludes/navbar
        
        .container
            block content

        include ../mainIncludes/footer

        include ../mainIncludes/script