#AddSeasonPanel.modal(style="display:none;")
    .modal-dialog
        .modal-content
            .modal-header.text-center
                h5.modal-title.w-100(style="margin-right: -35px") Dönem Ekle
                button.closeAddSeasonPanel(type='button', data-dismiss='modal', aria-label='closeAddSeasonPanel')
                    span(aria-hidden='true') ×
            .modal-body.text-center
                form.form-inline.justify-content-center(method="POST" action="")
                    .form-group.mb-2
                        label Dönem Seçiniz:
                    select.form-control.mx-3.mb-2(style="max-width:170px;margin-left: 15px;")
                        option 2019 / 2020
                        option 2020 / 2021
                        option 2021 / 2022
                        option 2022 / 2023
                        option 2023 / 2024
                    button.btn.btn-primary.mb-2(type="submit") Ekle
